
<launch>

<arg name="result_dir" default="/home/david/.ros/vio"/>
<arg name="data_name" default="etas_f5"/> <!-- -->
<arg name="mode" default="vo_after"/> <!-- vio_before vio_after  vo_before -->
<arg name="img_dir" default="/home/david/work/data/sr4k/imu_bdat"/>

  <node pkg="graph_slam" type="mapping_PCD" name="mapping_PCD" output="screen">
    <param name="trajectory_file"   value="$(arg result_dir)/$(arg data_name)/$(arg data_name)_$(arg mode)_trajectory.log"/>
    <param name="trajectory_file"   value="/home/david/.ros/vio/etas_f5/etas_f5_vo_after_trajectory.log"/> 
    <param name="trajectory_file"   value="/home/david/.ros/vio/etas_f5/hybrid_pvio_2_trajectory.log"/>

    <param name="img_directory"     value="$(arg img_dir)/$(arg data_name)/sr4k"/>
    <param name="output_PCD_file"   value="$(arg result_dir)/$(arg data_name)/$(arg data_name)_$(arg mode)_pc.pcd"/>
    <param name="downsample_skip"   value="2"/>
    <param name="top_left_u"        value="10"/>
    <param name="top_left_v"        value="40"/>
    <param name="bot_right_u"       value="170"/>
    <param name="bot_right_v"       value="140"/>
  </node>

</launch>
